<?xml version="1.0" encoding="UTF-8"?>
<!-- Copyright (C) 2022-2024 Digital Chief Company. All Rights Reserved. -->
<Configuration>
    <!-- Appenders -->
    <Appenders>
        <Console name="consoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd_HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n"/>
        </Console>
    </Appenders>

    <Loggers>
        <!-- Application Loggers -->
        <Logger name="ru.dc.cms.profile" level="debug"/>
        <Logger name="ru.dc.cms" level="info"/>


        <!-- 3rdparty Loggers -->
        <Logger name="org.springframework" level="info"/>
        <Logger name="ru.dc.cms.commons.mongo" level="debug"/>

        <!-- Root Logger -->
        <Root level="info">
            <AppenderRef ref="consoleAppender"/>
        </Root>
    </Loggers>
</Configuration>